body{
    color:rgb(33, 200, 223);
    background: rgb(142, 148, 148);
    margin: 0px;
    font-family:"BBH Sans Hegarty", sans-serif ;
}
header{
    border-bottom: solid 2px rgb(22, 133, 224);
    padding: 20px;
    font-size: 32px;
    color: rgb(41, 22, 214);
}
section{
    backgroud: blue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}